<style type="text/css">
			
		
			h1{	color: blue;
				text-align: center;
				display: inline-block;
				font-size: 85px;
				font-family:chiller;
				}
			body {
				font-family: Arial, Helvetica, sans-serif;
				
				}
				.container0{
    margin: 0 auto;
    border: 1px solid #ccc;
    float: center;
    width:100%;
	height:450px;
}

				
				
			.mySlides {display:none;}
				
			.btn-group button {
				background-color: blue;
				border: 1px solid blue;
				color: black;
				padding: 10px 24px;
				cursor: pointer;
				float: left; 
				}
			
			
					.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
			
			

			.centered {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				position: relative;
				text-align: center;
				text-align: top;
				color: pink;
				font-size: 25px;
			}

			.btn1 {
				background-color: #A9A9A9;
				border: none;
				color: black;
				padding: 8px 16px;
				text-align: center;
				font-size: 16px;
				margin: 4px 2px;
				transition: 0.3s;
				margin: auto;
			}

			.btn1:hover {
				background-color: #3e8e41;
				color: white;
			}
			
			.img{
				float:center;
			}
		
			* {
    box-sizing: border-box;
}

			
.column {
    float: left;
    width: 10%;
	height: 27%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}
		
	.categary {
		text-align:center;
		color: white;
		padding: 10px;
		float:center;
		background-color:#2F4F4F;  
		
		
		}

		
		
		.border{
		ext-align:center;
		color: black;
		padding: 10px;
		float:center;
		width:100%;
		background-color:#C0C0C0;  
		border-radius:5px;
		}
		
		.welcome{
				
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
		}
		
		
		.h2{
	text-align: center;
}
* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column1 {
        width: 100%;
    }
}
		
		</style>
	